{% extends 'base.html' %}
<!-- main start -->
{% block main %}
<!-- Login section -->
<section class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 project">
		
			<div class="login-form">
			    <form action="/index/login/" method="post">
			        <h4 class="">Log in/登录</h4>       
			        <div class="form-group">
			            <input type="text" class="form-control" name="username" placeholder="Username/用户名" required="required">
			        </div>
			        <div class="form-group">
			            <input type="password" class="form-control" name="pwd" placeholder="Password/密码" required="required">
			        </div>
					<p> <span style="font-size:7px;" class="info-waring">{{error_msg}}</span></p>
			        <div class="form-group">
			            <button type="submit" class="btn btn-primary btn-block">Log in 登录</button>
			        </div>      
			    </form>
			</div>
				
		</div>
	</div>
</section>
{% endblock main %}
<!-- main end -->
